<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
      <title>{% block title %}{% endblock %} | NYC Python</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" type="text/css" media="screen" />
    {% block extra_style %}
    {% endblock %}
	<script type="text/javascript" src="/media/js/jquery-1.4.1.min.js"></script>
    {% block extra_js %}
    {% endblock %}
  </head>
  <body>
      <div class="container_12">
          <div class="grid_9">
              &nbsp;
          </div>
    <div class="grid_3 user_area">
      {% comment %}
        {% if user.is_anonymous %}
        <p> <a href="{% url meetup_login %}">Login via meetup</a></p>
        {% else %}
        <p><a href={{user.meetup.get_absolute_url}}>{{user.meetup.name}}</a> | <a href="{% url meetup_logout %}">Log out</a></p>
        {% endif %}
      {% endcomment %}
  </div>
  </div>
      <div id="masthead">
    <div class="container_12">
          <h1 id="logo"><a href="/"><img src="{{ MEDIA_URL }}images/nyc_python_logo.png"></a></h1>
        <!-- NYC is chunkfive and python is in futura with the pycon
        logo as the o. Would be nice to bring the skyline into it
        somehow. -->
        <p>Your connection to the New York City the python community.</p>
    </div>
      </div>

    <div class="container_12">

      <!-- <ul id="nav"> -->
      <!--   <li class="selected"><a href="#">home</a></li> -->
      <!--   <li><a href="#">archives</a></li> -->
      <!--   <li><a href="#">organizations</a></li> -->
      <!--   <li><a href="#">presentations</a></li> -->
      <!-- </ul> -->

      <div id="content">
        {% block body %}{% endblock %}
      </div>
      <div id="footer">
        <hr />
      </div>
    </div>
    {% block footer %}
    {% endblock %}
  </body>
</html>
