{% extends "base.html" %}
{% block title %} foo{% endblock %}
    {% block extra_style %}
        <link rel="stylesheet" href="/media/topics/css/text.css">
	<link rel="stylesheet" href="/media/topics/css/colorbox.css">
	<link rel="stylesheet" href="/media/topics/css/style.css">
    {% endblock %}
    {% block extra_js %}
        <script type="text/javascript" src="/media/topics/js/edit.js"></script>
        <script type="text/javascript" src="/media/topics/js/topics.js"></script>
	<script type="text/javascript" src="/media/topics/js/jquery.colorbox-min.js"></script>
    {% endblock %}
