<html>
    <body>
{% load topics_tags %}
<form action="" method="GET">
{% render_topic_search_form search_term %}
<input id="search" type="submit" value="search">
</form>
{% if topics %}
    {% render_topic_list topics %}
{% else %}
    {% if search_term %}
      <div id="notopics">
        <form action="submit" method="POST">
	<b>Would you like to suggest this topic?</b>
	<p><input id="volunteer" name="volunteer" type="checkbox">Check here to volunteer to present on this topic (you can do this later)</input></p>
	<input id="create" type="submit" value="Suggest">
        </form>
	<h3>No topics found</h3>
	<p>No topics matched your search.</p>
	<p>
	</p>
    </div>
    {% endif %}
{% endif %}
</body>
</html>
